<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTLNhapMonCNPM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/drink.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sale.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BTLNhapMonCNPM.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <a href="MainPage.html" class="navbar-brand">
                    <img src="https://www.highlandscoffee.com.vn/vnt_upload/weblink/White_logo800.png"
                        alt="Highlands Coffee" />
                </a>
                <ul class="navbar-menu">
                    <li><a href="/Buy">TRANG CHỦ</a></li>
                    <li><a href="/Drink">QUẢN LÝ ĐỒ UỐNG</a></li>
                    <li><a href="/Bill">DANH SÁCH HOÁ ĐƠN</a></li>
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer>
        <div class="footer-content">
            <p>© 2018 Highlands Coffee. All rights reserved</p>
        </div>
    </footer>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - BTLNhapMonCNPM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 30,
            freeMode: true,
            autoplay: {
                delay: 2500, // 2.5 seconds
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
</body>

</html>
