@model IEnumerable<BTLNhapMonCNPM.Models.Category>


<main class="p-5 flex flex-col gap-4">
    <div id="imageSection" class="cursor-pointer flex gap-4 flex-wrap">
        <div class="font-medium text-primary" id="addImage">
            Add image
            <input type="file" hidden id="files" accept="image/*">
        </div>
    </div>

    <div>
        <label for="name">Tên đồ uống</label>
        <input type="text" id="name" class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3">
    </div>
    <div>
        <label for="price">Giá</label>
        <input type="number" id='price' class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3">
    </div>
    <div>
        <label for="comparePrice">Giá sau khi giảm</label>
        <input type="number" id='comparePrice'
            class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3">
    </div>
    <div>
        <label for="description">Mô tả</label>
        <input type="text" id="description"
            class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3">
    </div>
    <div>
        <label for="categoryId">Loại đồ uống</label>
        <select name="categoryId" id="categoryId"
            class="w-full gap-x-2.5 gap-y-2.5 rounded border border-gray-200 bg-white p-3">
            @foreach (var category in Model)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
    </div>

    <div>
        <button id="submit" class="bg-red-400 px-4 py-8 rounded-lg">Thêm đồ uống</button>
    </div>
</main>


<script src="/js/createDrink.js"></script>
