@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="specialty">
        <div class="container" style="
            background-image: url('https://www.highlandscoffee.com.vn/vnt_upload/product/04_2018/menu-PSD-bg.jpg');
          ">
            <div class="content" style="color: #f2e4d0; margin-left: 300px">
                <h2>CÀ PHÊ</h2>
                <p>
                    CÀ PHÊ Sự kết hợp hoàn hảo giữa hạt cà phê Robusta & Arabica
                    thượng hạng được trồng trên những vùng cao nguyên Việt Nam màu mỡ,
                    qua những bí quyết rang xay độc đáo, Highlands Coffee chúng tôi tự
                    hào giới thiệu những dòng sản phẩm Cà phê mang hương vị đậm đà và
                    tinh tế.
                </p>
                <button class="button">
                    <a href="drink.html">KHÁM PHÁ THÊM</a>
                </button>
            </div>
            <div class="image">
                <img src="https://www.highlandscoffee.com.vn/vnt_upload/product/04_2023/PHIN_SUA_DA_5.1.png"
                    alt="Specialty Coffee" />
            </div>
        </div>
    </section>
    <section class="specialty">
        <div class="container" style="
            background-image: url('https://www.highlandscoffee.com.vn/vnt_upload/product/04_2018/menu-FREEZE.jpg');
          ">
            <div class="image">
                <img src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/FREEZE-TRA-XANH-5.1.png"
                    alt="Specialty Tea" />
            </div>
            <div class="content" style="
              color: #006400;
              float: right;
              text-align: right;
              margin-right: 200px;
            ">
                <h2>FREEZE</h2>
                <p>
                    Sảng khoái với thức uống đá xay phong cách Việt. Freeze là thức
                    uống đá xay mát lạnh được pha chế từ những nguyên liệu thuần túy
                    của Việt Nam.
                </p>
                <button class="button">
                    <a href="drink.html">KHÁM PHÁ THÊM</a>
                </button>
            </div>
        </div>
    </section>
    <section class="specialty">
        <div class="container" style="
            background-image: url('https://www.highlandscoffee.com.vn/vnt_upload/product/11_2022/Banner/Product_Tra_BG_Web_Banner.jpg');
          ">
            <div class="content" style="color: #ffffff; margin-left: 300px">
                <h2>TRÀ</h2>
                <p>
                    Hương vị tự nhiên, thơm ngon của Trà Việt với phong cách hiện đại
                    tại Highlands Coffee sẽ giúp bạn gợi mở vị giác của bản thân và
                    tận hưởng một cảm giác thật khoan khoái, tươi mới.
                </p>
                <button class="button">
                    <a href="drink.html">KHÁM PHÁ THÊM</a>
                </button>
            </div>
            <div class="image">
                <img src="https://www.highlandscoffee.com.vn/vnt_upload/product/06_2023/TRA-SEN-VANG-CN-5.1.png"
                    alt="Specialty Coffee" />
            </div>
        </div>
    </section>
</main>
